/* Style global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #121212;
  color: #fff;
}

header {
  text-align: center;
  background-color: #1e1e1e;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Conteneur principal */
#timeline-container {
  position: relative;
  width: 95%;
  margin: 2rem auto;
  padding: 10px 0;
  overflow-x: auto;
  border-top: 2px solid #444;
  box-sizing: border-box;
  height: 100vh;
}

#years {
  position: relative;
  margin-bottom: 5px;
}

#months {
  position: relative;
  margin-bottom: 5px;
}

/* Conteneur des segments */
#clan-container {
  position: relative;
}

/* Style des segments */
.segment {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  overflow: hidden;
}

/* Tooltip */
#tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 0.8rem;
  z-index: 999;
  pointer-events: none;
  max-width: 300px;
  box-sizing: border-box;
}
